[Unit]
Description=Screeps Statistics Collection
After=network-online.target

[Service]
Restart=always
RestartSec=5
Type=simple
User=screepsstats
Group=screepsstats
WorkingDirectory=/home/screepsstats/
ExecStart=/usr/local/bin/screepsstats
StandardOutput=syslog
StandardError=syslog
Restart=always
Environment=PYTHONUNBUFFERED=true

[Install]
WantedBy=multi-user.target
